<div class="container-primary">
  <h1 class="font-bold text-blue-500 text-4xl">Dashboard#index</h1>
  <% if user_signed_in? && !current_user.profile_complete? %>
    <%= render partial: "users/profile" %>
  <% else %>
    <%= link_to current_user.name, edit_signup_path, class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"%>
    <%= button_to "Sign out", destroy_session_path, method: :delete, class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"%>
  <% end %>
</div>
